# RPC
MAINNET=https://api.tez.ie/rpc/mainnet
TESTNET=https://api.tez.ie/rpc/babylonnet
PRIVATEKEY=YOUR_XTZ_WALLET_PRIVATE_KEY

# CONTRACTS
REWARDS_CONTRACT=YOUR_REWARDS_CONTRACT_HASH
ORACLE_CONTRACT=YOUR_ORACLE_CONTRACT_HASH
NFT_CONTRACT=YOUR_NFT_CONTRACT_HASH