html, body {
  background-color: #A376CC;
  color: #ffffff;
}
.jumbotron, .card {
  color: #000000;
}
div.navigation {
  padding-top: 1rem;
  padding-left: 1rem;
}
li.connect {
  color: #007bff;
  width: 100px !important;
}
.bold {
  font-weight: bold;
}
.puzzle-card:hover, .jumbotron:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8) !important;
}